// Breakpoints
$xl: 87.5rem; // 4k and hi-res desktop
$lg: 60rem; // 1080 and hi-res laptops
$med: 40rem; // hi-res tablets and low-res laptops
$sm: 28rem; // mobile and low-res tablets
$xs: 20rem; // mobile only

// font-family
$font-family: "Open Sans";

// colors
$white: #FFFFFF;
$danger: #B51919;

$gray-100: #1F2523;
$gray-200: #4D5C57;
$gray-300: #CDD5D2;
$gray-400: #E4ECE9;
$gray-500: #F9FBFA;

$green-100: #1F8459;
$green-200: #2CB178;

// mixins
@mixin responsive($query) {
  @media (min-width: $query) {
    @content;
  }
}

@mixin heading-sm($weight: bold) {
  @if $weight == semibold {
    font-weight: 600;
  }
  
  @if $weight == bold {
    font-weight: 700;
  }

  font-size: 0.875rem;
  line-height: 1.125rem;
}

@mixin heading-md() {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin heading-lg() {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@mixin body-sm($weight: regular) {
  @if $weight == regular {
    font-weight: 400;
  }

  @if $weight == bold {
    font-weight: 700;
  }

  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin body-md($weight: regular) {
  @if $weight == regular {
    font-weight: 400;
  }

  @if $weight == bold {
    font-weight: 700;
  }

  font-size: 0.875rem;
  line-height: 1.125rem;
}

@mixin body-lg($weight: regular) {
  @if $weight == regular {
    font-weight: 400;
  }

  @if $weight == bold {
    font-weight: 700;
  }

  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin label($weight: regular) {
  @if $weight == bold {
    font-weight: 700;
  }

  font-size: 0.625rem;
  line-height: 0.875rem;
  text-transform: uppercase;
}

// global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $gray-400;
}

body, input, textarea, select, button {
  font: 400 1rem $font-family, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
